.pf {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
    height: 135px;

}

nav img {
    height: 125px;
    transform: translateY(-5px);

}

#nav-transform {
    transform: translateY(8px);

}

img#photo {
    height: 40vh;

}

nav a {
    font-size: 36px;
    font-weight: bold;

}

.about-dec {
    color: black;
    font-weight: bold;

}

#student {
    color: #696969;

}

.custom-background {
    background: #1d1e33;

}

.fc2 {
    color: #c2c2c2;

}

#programs img {
    max-height: 200px;

}

.taj {
    text-align: justify;

}