.pf {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
    height: 135px;

}

nav img {
    height: 115px;
    transform: translateY(-5px);

}

#nav-transform {
    transform: translateY(8px);

}

.photo {
    width: 190px;

}

nav a {
    font-size: 36px;
    font-weight: bold;

}

.about-dec {
    color: black;
    font-weight: bold;

}

.student {
    color: #696969;

}

.custom-background {
    background: #1d1e33;

}

.fc2 {
    color: #c2c2c2;

}

#programs img {
    height: 200px !important;

}

#programs-2 img {
    height: 200px !important;

}

.img-mr {
    height: 300px !important;

}

.taj {
    text-align: justify;

}

@media (max-height: 600px) {
    .img-mr {
        height: 180px !important;
    }

}

.tc-download {
    text-decoration: none;
    color: white;

}

.download-bt {
    color: white;
    text-decoration: none;

}

.download-bt:hover {
    color: #696969;
    text-decoration: none;
    border-color: #696969 !important;

}